.weather {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #8b8b8b;
  background-color: #fff;
  margin: 20px auto; /* Center horizontally */
  padding: 0 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.top,
.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.second_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

.city {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 0 60px;
}

.weather-icon {
  width: 200px;
  height: auto;
}

.temperature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.temperature {
  font-weight: 500;
  font-size: 50px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
  display: flex;
}

.hl_temp {
  font-size: 20px;
  text-align: center;
}

.details {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  max-height: 150px;
}

.parameter-icon {
  width: 28px;
  height: 28px;
  margin: 10px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameter-label {
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: left;
  font-weight: 600;
  font-size: 12px;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .weather {
    padding: 0 10px 60px 10px;
  }
  
  .weather-icon {
    width: 150px;
  }

  .temperature {
    font-size: 40px;
  }
}
