body{
  
    font-family: "Josefin Sans", sans-serif;  
}

.weather {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
  color: #807d7d;
  background-color: #fff;
  margin: 20px auto; /* Center horizontally */
  padding: 0 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  /* background-color: red; */
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  

}

.second_row {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

.city,.weather-description {
  font-size: 20px;
  /* background-color: red; */
  line-height: 1;
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  
}



.weather-icon {
  width: 200px;
  height: auto;
}

.temperature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.temperature {
  font-weight: 500;
  font-size: 70px;
  width: auto;
  margin: 10px 0;
  display: flex;
}

.hl_temp {
  font-size: 30px;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: auto;
  max-height: 150px;
  
  
}

.parameter-icon {
  width: 28px;
  height: 28px;
  margin: 10px;
}

.parameter-row {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameter-label {
  display: flex;
  justify-content: space-between;
  
}

.parameter-value {
  

  margin-top: 5px;
  font-weight: 500;
  font-size: 15px;
}



/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
  .weather {
    padding: 0 10px 60px 10px;
  }
  
  .weather-icon {
    width: 150px;
  }

  .temperature {
    font-size: 40px;
  }
}

.forecast {
  margin-top: 20px;
}

.forecast-items {
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
}

.forecast-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.forecast-icon {
  width: 50px;
  height: 50px;
}

.forecast-info {
  margin-top: 2px;
  text-align: center;
}

.temperature-toggle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.temperature-toggle button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}



