body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #24bae4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Josefin Sans', sans-serif;
}
